*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: League Gothic Regular;
    src: url(../fonts/league-gothic.regular.ttf)
}
@font-face{
    font-family: OpenSans Light;
    src: url(../fonts/OpenSansLight.ttf)
}
header{
    background-image: url(../img/background.jpg);
}
.header-content{
    margin: 0 auto;
    padding-top: 70px;
    width: 961px;
}
header a{
    color: #fff;
    font-family: League Gothic Regular;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    
}
.header__logo-name a{
    font-size: 48px;
    float: left;
    opacity: 0.5;
    margin-right: 170px;
}
.header__text-color{
    background: -webkit-linear-gradient(#745083, #33263a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
nav{
    padding-top: 7px;
}
nav a:first-child{
    margin-left: 0;
}
nav a{
    margin-left: 48px;
}
nav a:hover{
    text-decoration: underline;
    color: #edbfff;
}
.header__link-style{
    color: #fff;
}
.header__text{
    font-family: OpenSans Light;
}


