*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: League Gothic Regular;
    src: url(../fonts/league-gothic.regular.ttf);
}
@font-face{
    font-family: OpenSans Light;
    src: url(../fonts/OpenSansLight.ttf);
}
@font-face{
    font-family: OpenSans ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
body{
    min-width: 1000px;
}

header{
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 849px;
}
.header-content{
    margin: 0 auto;
    width: 961px;
    padding-top: 70px;
}
.nav__list{
    display: inline-flex;
}
.nav__link,
.nav__hidelink{
    color: #fff;
    font-family: League Gothic Regular;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    margin-left: 51px;
    
}
.nav__hidemenu{
    display: none;
}
.logo-name__link{
    color: #ffF;
    font-family: League Gothic Regular;
    font-size: 48px;
    float: left;
    opacity: 0.5;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    margin-right: 122px;
}
.logo-name__item{
    background: -webkit-linear-gradient(#745083, #33263a);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
nav{
    padding-top: 7px;
}
.nav__list:first-child{
    margin-left: 0;
}
.nav__link:hover{
    border-bottom: 2px #edbfff solid;
}
.slider{
    background-color: rgba(0, 0, 0, 0.3);
    clear: both;
    position: relative;
    margin-top: 178px;
}
.slider-block{
    margin: 0 auto;
    position: relative;
    width: 961px;
}
.slider-text{
    font-family: OpenSans Light;
    font-size: 18px;
    color: #fff;
    padding-bottom: 80px;
    padding-top: 80px;
    width: 51%;
}
.slider-image{
    position: absolute;
    right: 76px;
    top: -16px;
}
.slider-button{
    position: absolute;
    top: 133px;
    right: 129px;
}
.slider-button__play{
    background: none;
    border: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.slider-text__titel{
    color: #fff;
    font-family: League Gothic Regular;
    font-size: 60px;
}
.slider-text__subtitile{
    color: #edbfff;
    font-family: League Gothic Regular;
    font-size: 32px;
}
.slider-text__item{
    line-height: 24px;
    padding-top: 3px;
}
.slider-point{
    position: absolute;
    bottom: -115px;
    right: 171px
}
.slider-point__item{
    border: 1px #000 solid;
    display: inline-block;
    width: 14px;
    height: 14px;
    opacity: 0.5;
    margin-top: 30px;
    background: #000;
    border-radius: 7px;
}
.slider-point__select{
    background: #fff;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 7px;
    margin-left: 1px;
    margin-top: 1px;
}
.content__header-block{
    background: url(../img/background-3.jpg);
    background-size: cover;
    height: 340px;
}
.content__info{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 76px;
    width: 960px;
}
.content__icon{
    background: url(../img/content-icon.png) 0 0 no-repeat;
    height: 25px;
    left: -51px;
    position: absolute;
    top: 8px;
    width: 25px;
}
.content__icon-second{
    background: url(../img/content-icon.png) 0 0 no-repeat;
    background-position: -30px 0;
    height: 25px;
    left: -51px;
    position: absolute;
    top: 8px;
    width: 27px;
}
.content__icon-third{
    background: url(../img/content-icon.png) 0 0 no-repeat;
    background-position: -58px 0;
    height: 25px;
    left: -51px;
    position: absolute;
    top: 8px;
    width: 25px;
}
.content__about{
    position: relative;
    width: 25%;
    margin-left: 51px;
}
.content__about-header{
    color: #fff;
    font-family: League Gothic Regular;
    font-size: 30px;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.content__text{
    color: #fff;
    font-family: OpenSans Light;
    font-size: 16px;
    line-height: 23px;
    height: 20%;
    overflow: hidden;
    padding-top: 10px;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.content__read-more{
    color: #fff;
    font-family: League Gothic Regular;
    font-size: 18px;
    float: right;
    text-transform: uppercase;
    padding-top: 20px;
    padding-right: 24px;
}
.content__read-more:hover{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.central-block{
    background: #f9f9f9;;
}

.wrap-block{
    display: flex;
    margin: 0 auto;
    width: 960px;
    height: 385px;
    
    padding-top: 101px;
}
.left-col{
    background: #fff;
    padding-top: 30px;
    width: 41%;
    position: relative;
    padding-left: 41px;
    height: 271px;
    margin-right: 65px;
}
.left-col__item{
    position: absolute;
    top: 19px;
    left: -22px;
}
.left-col__title{
    color: #454545;
    font-family: League Gothic Regular;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: -1px 0px 0px rgba(204, 204, 204, 1);
}
.left-col__text{
    font-family: OpenSans Light;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    text-shadow: -1px 0px 1px rgba(204, 204, 204, 1);
    padding-right: 75px;
    padding-top: 9px;
}
.left-col__colortext{
    color: #edbfff;
    text-shadow: none;
}.left-col__triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
.right-col{
    margin-left: 17px;
    margin-top: 30px;
}
.right-header-title{
    color: #454545;
    font-family: League Gothic Regular;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: -1px 0px 0px rgba(204, 204, 204, 1);
}
.right-col__list{
    position: relative;
    padding-top: 20px;
    padding-left: 68px;
}
.right-col__item{
    margin-bottom: 26px;
}
.right-col__icon,
.right-col__iconsecond,
.right-col__iconthird{
    background: url(../img/icon-sprite.png) 0 0 no-repeat;
    height: 49px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 50px;
}
.right-col__iconsecond{
    background-position: 0 -48px;
    top: 80px;
}
.right-col__iconthird{
    top: 147px;
    background-position: 0 -96px;
}
.right-col__title{
    color: #454545;
    font-family: OpenSans ExtraBold;
    font-size: 16px;
    font-weight: bold;
}
.right-col__text{
    color: #454545;
    font-family: OpenSans Light;
    font-size: 16px;
    padding-top: 8px;
}
.right-col__link,
.right-col__hidelink{
    color: #454545;
    font-family: League Gothic Regular;
    font-size: 18px;
    float: right;
    margin-right: 12px;
    margin-top: 27px;
    text-decoration: none;
    text-transform: uppercase;
}
.right-col__hidelink{
    display: none;
}
.central-block{
        
    }
.central-block__brand--logo{
    border-bottom: 1px #fff solid;
    border-top: 1px #fff solid;
    box-shadow: 0px 0px 0px 1px rgba(230,230,230,1);
    display: inline-block;;
    width: 100%;
}
.brand-block{
    background: url(../img/brandslogosprite.png) 0 0 no-repeat;
    height: 95px;
    margin-top: 25px;
    display: block;
    width: 75px;
}
.brand-block__logo{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
.brand-block--style1{
    background-position: -75px 0;
}
.brand-block--style2{
    background-position: -151px 0;
}
.brand-block--style3{
    background-position: -224px 0;
    width: 65px;
}
.brand-block--style4{
    background-position: -297px 0;
    width: 105px;
}
.brand-block--style5{
    background-position: -401px 0;
    width: 100px;
}
.footer-block{
    background: #ececec;
}
.footer-wrap{
    height: 300px;
    margin: 0 auto;
    padding-top: 96px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
    width: 960px;
    font-family: OpenSans Light;
    display: flex;
    justify-content: space-between;
}
.footer-leftcol,
.footer-centralcol,
.footer-rightcol{
    width: 30%;
}
.footer-block__block--logo .logo-name__link{
    color: #454545;
    opacity: 1;
    text-shadow: none;
}
.footer-block__block--logo .logo-name__item{
    background: #454545;
    opacity: 0.5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: none;
}
.footer-leftcol__title{
    font-family: Georgia;
    font-style: italic;
    opacity: 0.3;
    margin-top: 62px;
}
.footer-leftcol__text,
.footer-centralcol__text,
.footer-rightcol__text{
    height: 38%;
    margin-top: 13px;
    line-height: 23px;
    overflow: hidden;
}
.footer-centralcol__text,
.footer-rightcol__text{
    height:52%;
    margin-top: 17px;
}
.footer-centralcol__hidetitle{
    display: none;
}
.footer-centralcol__hidetitle,
.footer-centralcol__title,
.footer-rightcol__title{
    font-family: League Gothic Regular;
    font-size: 30px;
    text-transform: uppercase;
}

footer{
    background: url(../img/footerbg.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 100px;
}
.footer-menu{
    margin: 0 auto;
    padding-top: 38px;
    width: 960px;
}
.footer--nav{
    float: left;
}
.footer--nav .nav__link{
    font-size: 20px;
    margin-left: 0px;
    margin-right: 46px;
}
.made-by{
    padding-top: 100px;
}
.made-by__item{
    color: #fff;
    font-family: OpenSans Light;
    font-size: 12px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.made-by__text{
    font-family: OpenSans ExtraBold;
}
@media screen and (max-width: 319px){
    .wrap-block,
    .slider-block,
    .content__info,
    .content__header-block,
    .brand-block__logo,
    .wrap-block,
    .central-block,
    .brand-block__item,
    .footer-wrap,
    .footer-menu,
    .footer-block,
    .header-content,
    footer{
        width: 320px;
        margin: 0;
    }
    body{
        min-width: 319px;
    }
    header{
        height: 441px;;
    }
    .header-content{
        text-align: center;
    }
    .logo-name__link{
        float: none;
        margin: 0 auto;
        opacity: 1;
    }
    .nav{
    margin-top: 30px;
    }
    .nav__list {
        display: none;
    }
    .nav__hidelist{
        display: none;
    }
    .nav__hidemenu{
        display: inline;
    }
    .nav__hideitem:active{
        width: 245px;
    }
    
    .nav__hideitem:nth-child(n+2){
        border-top: 1px #5f486a solid;
        border-bottom: 1px #36283e solid;
        border-right: none;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .nav__hideitem:last-child{
        border-bottom: none;
    }
    .nav__link:active ~ .nav__hidelist,
    .nav__link:focus ~ .nav__hidelist,
    .nav__hidelist:focus{
        background: rgba(54,40,62,0.8);
        border: 1px #000 solid;
        border-radius: 10px;
        padding-top: 45px;
        position: absolute;
        z-index: 5;
        width: 245px;
        margin-top: -35px;
        display: block;
        margin-left: 36px;
    }
    .nav__hidelist:focus{
        margin-left: 36px;
    }
    .nav__link{
        position: relative;
        z-index: 6;
        margin-left: 0;
    }
    .nav__link:active{
        margin-left: 0;
    }
    .nav__hidelink{
        margin-left: 0px;
        z-index: 6;
        position: relative;
    }
    .slider{
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
    }
    .slider-image,
    .slider-button{
        display: none;
    }
    .slider-text{
        width: 64%;
        margin: 0 auto;
    }
    .slider-text__titel{
        font-size: 36px;
    }
    .slider-text__subtitile{
        font-size: 18px;
    }
    .slider-text__item{
        display: none;
    }
    .slider-point{
        bottom: 4px;
        right: 125px;
    }
    .content__header-block{
        height: 100%;
    }
    .content__info{
        display: inline-block;
    }
    .content__about{
        width: 69%;
        margin-left: 60px;
        margin-bottom: 60px;;
    }
    .content__about-header{
        font-size: 24px;
    }
    .content__text{
        font-size: 16px;
        height: 70px;
    }
    .content__read-more{
        padding-right: 0;
    }
    .wrap-block{
        display: inline-block;
    }
    .left-col{
        width: 70%;
        margin-left: 28px;
        padding-bottom: 32px;
    }
    .left-col__title{
        font-size: 24px;
        width: 50%;
    }
    .left-col__text{
        height: 152px;
        overflow: hidden;
        padding-right: 27px;;;
    }
    .right-col__hidetext320{
        display: none;
    }
    .right-col__link{
        display: none;
    }
    .right-col__hidelink{
        display: block;
    }
    .central-block__brand--logo{
        margin-top: 126px;
    }
    .brand-block__logo{
        display: block;
    }
    .brand-block{
        float: left;
        margin-left: 17%;
    }
    .footer-block{
        display: none;
    }
    .made-by{
        padding-top: 0;
        text-align: center;
    }
    .made-by__item{
        font-size: 12px;
    }
    footer{
        height: 150px;
    }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
    body{
        min-width: 479px;
    }
    header{
        height: 551px;
        position: relative;
    }
    header,
    .wrap-block,
    .slider-block,
    .content__info,
    .content__header-block,
    .brand-block__logo,
    .wrap-block,
    .central-block,
    .brand-block__item,
    .footer-wrap,
    .footer-menu,
    .footer-block,
    .header-content,
    footer{
        width: 480px;
        margin: 0;
    }
    .header-content{
        text-align: center;
    }
    .logo-name__link{
        float: none;
        margin-right: 0;
    }
    .nav{
        margin-top: 30px;
    }
    .nav__list {
        display: none;
    }
    .nav__hidelist{
        display: none;
    }
    .nav__hidemenu{
        display: inline;
    }
    .nav__hideitem:active{
        background: rgba(45,36,50,0.8);
        margin: 0 auto;
        width: 245px;
    }
    
    .nav__hideitem:nth-child(n+2){
        border-top: 1px #5f486a solid;
        border-bottom: 1px #36283e solid;
        border-right: none;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .nav__hideitem:last-child{
        border-bottom: none;
    }
    .nav__link:active ~ .nav__hidelist,
    .nav__link:focus ~ .nav__hidelist,
    .nav__hidelist:focus{
        background: rgba(54,40,62,0.8);
        border: 1px #000 solid;
        border-radius: 10px;
        display: block;
        margin: -35px auto;
        padding-top: 45px;
        position: relative;
        z-index: 5;
        width: 245px;
    }
    .slider{
        margin-top: 0px;
        position: absolute;
        top: 205px;
    }
    .nav__link{
        border-bottom: 2px #edbfff solid;
        margin-left: 0;
        position: relative;
        z-index: 6;
    }
    .nav__hidelink{
        margin-left: 0;
    }
    .slider-text__titel{
        font-size: 36px;
    }
    .slider-text__subtitile{
        font-size: 18px;
    }
    .slider-text__item{
        display: none;
    }
    .slider-image{
        right: 33px;
        top: -3px;
    }
    .slider-phoneimage{
        width: 163px;
    }
    .slider-button{
        top: 74px;
        right: 43px
    }
    .button-image{
        width: 70%;
    }
    .slider-text{
        padding-left: 41px;
        padding-top: 95px;
    }
    .slider-point{
        bottom: -43px;
        right: 201px;
    }
    .content__header-block{
        height: 600px;
    }
    .content__info{
        display: block;
        padding-top: 80px;
    }
    .content__about{
        margin-bottom: 60px;
        margin-left: 61px;
        width: 79%;
    }
    .content__about-header{
        font-size: 24px;
    }
    .content__text{
        font-size: 16px;
        padding-top: 4px;
    }
    .content__hidetext{
        display: none;
    }
    .content__read-more{
        font-size: 18px;
        padding-right: 8px;
    }
    .wrap-block{
        display: block;
        height: 100%;
    }
    .left-col{
        margin-top: -33px;
        height: 260px;
        width: 78%;
        margin-left: 42px;
    }
    .left-col__text{
        padding-right: 22px;
    }
    .right-col{
        margin: 71px auto;
        width: 68%
            
    }
    .right-col__hidetext{
        display: none;
    }
    .right-col__link{
        display: none;
    }
    .right-col__hidelink{
        display: block;
        padding-right: -13px;
    }
    .central-block__brand--logo{
        margin-top: 62px;
        height: 230px;;
    }
    .brand-block__logo{
        display: block;
        padding-top: 11px;
    }
    .brand-block{
        float: left;
        margin-left: 12%;
        height: 66px;
    }
    .footer-wrap{
        display: block;
        height: 550px;
        padding-top: 78px;
        padding-left: 18px;
        width: 93%;;
    }
    .footer-block__block--logo,
    .footer-leftcol__title,
    .footer-centralcol__title,
    .footer-rightcol__title{
        display: none;
    }
    .footer-centralcol__hidetitle{
        display: block;
    }
    .footer-leftcol,
    .footer-centralcol,
    .footer-rightcol{
        height: 100px;
        width: 100%;
        margin-bottom: 15px;
    }
    .footer-centralcol,
    .footer-rightcol{
        padding-top: 70px;
    }
    .footer-centralcol__hidetitle{
        font-size: 24px;
    }
    .footer-leftcol__text,
    .footer-centralcol__text,
    .footer-rightcol__text{
         height: 90%
    }
    footer{
        height: 200px;
    }
    .footer--nav{
        margin-top: 0;
        width: 100%;
    }
    .footer--nav .nav__list{
        display: flex;
        justify-content: space-between;
    }
    .footer--nav .nav__item{
        float: left;
    }
    .footer--nav .nav__link{
        margin-right: 0;
        border-bottom: none;
    }
    .made-by{
        text-align: center;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    body{
        min-width: 768px;
    }
    header{
        height: 800px;
    }
    header,
    .wrap-block,
    .slider-block,
    .content__info,
    .content__header-block,
    .wrap-block,
    .central-block,
    .brand-block__logo,
    .brand-block__item,
    .footer-wrap,
    .footer-menu,
    .footer-block,
    .header-content,
    footer{
        margin: 0;
        width: 768px;
    }
    .header-content,
    .footer-wrap,
    .footer-menu{
        
    }
    .logo-name__link{
        float: none;
    }
    .nav{
        padding-top: 29px;
    }
    .nav__list{
        display: flex;
        justify-content: space-between;
    }
    .nav__link{
        margin-left: 0;
    }
    .slider{
        margin-top: 76px;
    }
    .slider-text{
        width: 41%;
        padding-left: 23px;
    }
    .slider-text__titel{
        font-size: 48px;
    }
    .slider-text__subtitile{
        font-size: 24px;
        padding-top: 10px;
    }
    .slider-text__item{
        font-size: 16px;
        line-height: 26px;
        height: 110px;
        overflow: hidden;
    }
    .content__about-header{
        font-size: 24px;
    }
    .content__read-more {
        padding-top: 7px;
        padding-right: 48px;
    }
    .left-col{
        margin-left: 23px;
        width: 275px;
    }
    
    .left-col__text{
        height: 43%;
        overflow: hidden;
        padding-right: 40px;
    }
    .left-col__title{
        font-size: 24px;
        width: 110px;
    }
    .right-col__text{
        overflow: hidden;
        width: 260px;
        height: 15px;
    }
    .wrap-block{
        display: flex;
        justify-content: space-between;
    }
    .footer-block__block--logo,
    .footer-leftcol__title,
    .footer-centralcol__title,
    .footer-rightcol__title{
        display: none;
    }
    .footer-centralcol__hidetitle{
        display: block;
    }
    .footer-leftcol__text,
    .footer-centralcol__text,
    .footer-rightcol__text{
        height: 55%;
        width: 85%;
    }
    footer{
        height: 200px;
    }
    .footer-nav{
        padding-top: 13px;
    }
    .made-by{
        margin-right: 0px;
        padding-right: 44px;
        padding-top: 69px;
    }
}
